@use "../../styles/categories.scss";
@use "../../styles/base.scss";

.card {
	box-sizing: border-box;
	border: 2px solid transparent;
	border-radius: 5px;
	box-shadow: base.$box-shadow;
	height: 150px;
	width: 150px;
	margin: 0;
	padding: 4px;
	transition: all 0.2s;
	cursor: pointer;

	&:hover {
		box-shadow: base.$box-shadow-hover;
	}

	&_today {
		@extend .card;
		border: 2px solid categories.$red;

		&:hover {
			border: 2px solid categories.$red-hover;
			box-shadow: base.$box-shadow-hover;
		}
	}

	&_selected {
		@extend .card;
		border: 2px solid categories.$blue;

		&:hover {
			border: 2px solid categories.$blue-hover;
			box-shadow: base.$box-shadow-hover;
		}
	}
}
