.card {
	box-sizing: border-box;
	border: 2px solid transparent;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
	height: 150px;
	width: 150px;
	margin: 0;
	padding: 2px;
	transition: all 0.2s;
	cursor: pointer;

	&:hover {
		border: 2px solid #09f;
	}

	&_header {
		font-size: 18px;
		min-width: 28px;
		color: purple;
		margin-bottom: 4px;
	}
}
