$blue: #00f;
$blue-hover: #2c6bff;

$green: #00a000;
$green-hover: #00d000;

$red: #d00;
$red-hover: #f44;

$orange: #a06600;
$orange-hover: #fea100;

$yellow: #918f00;
$yellow-hover: #dfdb00;

$purple: #6000a0;
$purple-hover: #8700e0;
