@use "../../styles/categories.scss";

.event {
	display: flex;
	background-color: categories.$blue;
	border-radius: 10px;
	font-size: 12px;
	color: white;
	padding: 2px 5px;
	transition: all 0.2s;

	&:hover {
		background: categories.$blue-hover;
	}
}

.time {
	min-width: 45px;
	margin: auto 0;
	font-weight: bold;
}

.title {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
