.calendar {
	width: 70%;
	max-width: 1114px;
	height: calc(100% - 50px);
	overflow: scroll;
	margin: 25px 20px;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 8px;
	padding: 0 20px 0 4px;
	cursor: pointer;
}
