@use "../../styles/categories.scss";
@use "../../styles/base.scss";

.event_card {
	height: 200px;
	width: 200px;
	border: 2px solid transparent;
	border-radius: 5px;
	padding: 8px;
	box-shadow: base.$box-shadow;
	cursor: pointer;
	transition: all 0.2s;

	&:hover {
		box-shadow: base.$box-shadow-hover;
	}

	&_title {
		color: categories.$blue;
		margin: 0;
	}
}
