@use "./styles/base.scss";

:root {
	font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
	background-color: base.$palette1;
	color: base.$palette4;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: hidden;
}

body {
	margin: 0;
	padding: 0;
}
